HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.env
**/startup_guide.txt
*.txt
# Logs
*.log
logs/
log/

# Arquivos compactados
*.gz
*.zip
*.tar
*.rar
*.7z

# Outros comuns
.target/
*.class
*.jar
*.war
*.nar
*.ear
.mvn/
mvnw
mvnw.cmd
*.iml
.idea/
*.DS_Store