<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Autofinance - Registro</title>
</head>
<body>
<div class="container">
    <div class="image-side"></div>
    <div class="form-side register">
        <div class="header-icon header-icon--row">
            <svg width="42" height="42" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polygon points="19,2 35,11 35,27 19,36 3,27 3,11" fill="none" stroke="currentColor" stroke-width="3.8"/>
                <line x1="19" y1="2" x2="19" y2="36" stroke="currentColor" stroke-width="2.5"/>
                <line x1="3" y1="11" x2="35" y2="27" stroke="currentColor" stroke-width="2.5"/>
                <line x1="35" y1="11" x2="3" y2="27" stroke="currentColor" stroke-width="2.5"/>
            </svg>
            <h2>Registre-se</h2>
        </div>
        <div class="form-body">
            <form th:action="@{/register}" th:object="${user}" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="seu@email.com">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-error"></span>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" th:field="*{password}">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-error"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirme a senha</label>
                    <input type="password" id="confirm-password" th:field="*{confirmPassword}">
                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-error"></span>
                </div>
                <div class="btn-register-container">
                    <button type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>